<div class="jumbotron text-center">
  <h1>Welcome to Social Playground's Tech Portal </h1>
  <h3>A place for Licensee holders learn how we do what we do</h3>
</div>
<div class="row">
    <div class="col-md-4">
        <%= link_to "License Partner", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
    </div>
    <div class="col-md-4">
        <%= link_to "Staff", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
    </div>
    <div class="col-md-4">
        <%= link_to "Admin", new_user_registration_path, class: 'btn btn-danger btn-lg btn-block' %>
    </div>
</div>

