<div class="header">
    <div class="header-container">
        <h2>Welcome to the Social Playground Tech Portal</h2>
            
        <a style="display:block" href="#">
            <div class="button">
                <div class="button-signout">BUTTON </div>
            </div>
        </a>
    
    </div>
</div>
</div>

<div class="main-content">
    <class="main-container">
        <span class="video-image"><img src="#"></span>
        <a href="/videos">Videos</a>
        
        <span class="documentation-image"><img src="#"></span>
        <p>Documentation</p>
        
        <span class="faq-image"><img src="#"></span>
        <p>FAQ</p>
    </class>
</div>


<a style="display:block" href="#">
  <div class="btn-test">BUTTON</div>
</a>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>